.cntct_frame1 {
	position: relative;
	padding-top: 100px;

	.cntct_frame1-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.content {
		width: 500px;
		margin: auto;
		padding: 200px 0;
		text-align: center;
		* {
			color: white;
		}

		.cntct_frame1-title {
			margin-bottom: 10px;
			* {
				font-size: 31px;
			}
		}

		.cntct_frame1-desc {
			* {
				line-height: 1.8em;
			}
		}
	}
}

.cntct_frame2 {

	padding-top: 100px;

	.connect-cntnr {
		width: 31.33%;
		margin-right: 3%;
		text-align: center;
		padding-bottom: 50px;
		&:nth-child(3n) {
			margin-right: 0;
		}

		.image-hldr {
			margin-bottom: 10px;
			transition: all 0.34s ease;
			cursor: pointer;
			&:hover {
				transform: translateY(-4px);
				box-shadow: 0px 4px 4px #ccc;
			}
		}

		.image {
			width: 100%;
			height: 220px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}

		.cdesc {
			* {
				line-height: 1.8em;
			}
		}
	}
}


.cntct_frame3 {
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		transition: all 0.34s ease;
	}

	.frm-cntnr {
		width: 100%;
		padding-top: 70px;
		padding-bottom: 100px;

		.tab-slct {
			display: inline-block;
			margin-right: 10px;
			padding: 5px 25px;
			border: 1px solid white;
			border-radius: 20px;
			transition: all 0.34s ease;
			cursor: pointer;

			* {
				font-family: 'Mont', sans-serif;
				color: white;
				font-size: 12px;
			}

			&.active {
				background-color: white;
				* {
					color: #ade655;
				}
			}

			&:hover {
				background-color: white;
				* {
					color: #ade655;
				}
			}
		}
	}

	.tabbing-select {
		width: 50%;
	}

	.top-desc {
		width: 50%;

		* {
			color: white;
		}
	}

	.top-hldr {
		width: 80%;
		margin: auto;
		margin-bottom: 50px;
	}

	.form-hldr {
		width: 80%;
		margin: auto;
	}

	#AIform {
		display: none;
	}

	.left-hldr {
		width: 40%;
		vertical-align: top;
		* {
			color: white;
		}

		h2 {
			font-size: 31px;
			margin-bottom: 15px;
			width: 70%;
		}

		p {
		}
	}

	.right-hldr {
		width: 60%;

		.input-hldr {
			width: 48%;
			margin-right: 4%;
			margin-bottom: 30px;

			input {
				width: calc(100% - 30px);
				padding:10px 15px;
				border-radius: 20px;
				border: none;
				font-family: gilroy;
				font-size: 16px;
			}

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		.button-holder {
			text-align: center;
			button {

			}
		}
	}
}

.cntct_frame4 {
	position: relative;
	z-index: -1;

	.cntct_frame4-bg {
		position: absolute;
		top: -100px;
		left: 0;
		width: 100%;
		height: calc(100% + 100px);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.mascot-hldr {

		width: 45%;
		position: relative;


		.mascot {
			position: relative;
			width: 290px;
			height: 358px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		.messenger {
			position: absolute;
			top: 50px;
			right: -50px;
			width: 45px;
			height: 45px;
			transition: all 0.34s ease;
			&:hover {
				transform: translate(5px, -5px);
			}
		}
	}

	.text-hldr {
		width: 55%;

		.desc {
			margin-bottom: 20px;
		}
	}

	.frm-cntnr {
		padding-top: 100px;
	}
}

@media screen and (max-width: 1024px) {
	.cntct_frame1 {
		padding-top: 70px;
	}
	.cntct_frame1 .content {
		width: 100%;
		padding: 100px 0;
	}

	.cntct_frame1 .content .cntct_frame1-title {
		* {
			font-size: 24px;
		}
	}

	.cntct_frame1 .frm-cntnr {
		width: 90%;
	}

	.cntct_frame2 {
		padding-top: 50px;
	}

	.cntct_frame2 .connect-cntnr {
		width: 100%;
		margin-right: 0;
	}

	.cntct_frame2 .connect-cntnr .image {
		height: 200px;
	}

	.cntct_frame3 {
		text-align: center;
	}

	.cntct_frame3 img {
		left: -15%;
		width: 130%;
	}

	.cntct_frame3 .tabbing-select, .cntct_frame3 .top-desc {
		width: 100%;
	}

	.cntct_frame3 .tabbing-select {
		margin-bottom: 10px;
	}

	.cntct_frame3 .left-hldr {
		width: 100%;
	}

	.cntct_frame3 .right-hldr {
		width: 100%;
	}

	.cntct_frame3 .top-hldr {
		width: 90%;
		margin-bottom: 20px;
	}

	.cntct_frame3 .left-hldr h2 {
		width: 100%;
		font-size: 24px;
	}

	.cntct_frame3 .form-hldr {
		width: 90%;
	}

	.cntct_frame3 .frm-cntnr .tab-slct:last-child {
		margin-right: 0;
	}

	.cntct_frame3 .frm-cntnr .tab-slct {
		padding: 5px 15px;
	}

	.cntct_frame3 .left-hldr {
		margin-bottom: 20px;
	}

	.cntct_frame3 .right-hldr .input-hldr {
		width: 100%;
		margin-right: 0;
	}

	.cntct_frame3 .frm-cntnr {
		padding: 50px 0;
	}

	.cntct_frame4 .frm-cntnr {
		width: 90%;
		padding-top: 50px;
	}

	.cntct_frame4 .mascot-hldr {
		width: 100%;
	}

	.cntct_frame4 .mascot-hldr .mascot {
		width: 70%;
		background-position: bottom;
	}

	.cntct_frame4 .text-hldr {
		width: 100%;
		text-align: center;

		.button {
			margin: auto;
		}
	}

	.formobile-flex {
		&.flex {
			display: flex;
      		flex-direction: column;
		}

		&.flex :first-child { 
			order: 2; 
		}
      	&.flex :nth-child(2) { 
      		order: 1; 
      	}
	}
}