/*=================================================================================
|                                 General Styling                                 |
=================================================================================*/
/*****
** VARIABLES
*****/
$blue: #000066;
$lightgray: #f1f1f1;
$gray: #363636;
$green: #93df65;

.mont {
    font-family: mont;
}

.gilroy {
    font-family: gilroy;
}

/*****
** COLORS
*****/

.blue {
    color: $blue;
}

.lightgray {
    color: $lightgray;
}

.gray {
    color: $gray;
}


.bg-blue {
    background-color: $blue;
}

.bg-lightgray {
    background-color: $lightgray;
}

.bg-gray {
    background-color: $gray;
}


/*****
** FONTS
*****/


@font-face {
    font-family: 'Mont', sans-serif;
    font-family: 'gilroy', sans-serif;
    font-family: 'Cabin', sans-serif;
}

h1 {
    font-family: 'Mont', sans-serif;
    font-size: 35px;
    font-weight: bold;
}

h2 {
    font-family: 'Mont', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-family: 'Mont', sans-serif;
    font-size: 18px;
}

h4 {
    font-family: 'Mont', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

h5,p, a {
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'Gilroy', sans-serif;
}

html {
    color: $gray;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}


/*
* Styles
*/

.style-cntnr {
    margin-top: 30px;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 200px;
    margin: auto;
}

.color-cntnr {
    text-align: center;
    display: inline-block;
    padding: 10px;
}

.style-color {
    background-color: white;
    padding: 10px;
    margin-right: 20px;
}

.font-cntnr {
    background-color: white;
    padding: 10px;
}

.font-hldr {
    margin-bottom: 20px;
}

.button-cntnr {
    margin-top: 30px;
    padding: 20px;
    background-color: white;

    a {
        margin-right: 30px;
    }
}

.button {
    background-color: trasparent;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    color: #6DC138;
    width: 130px;
    padding: 20px 30px;
    text-align: center;
    border: 1px solid #6DC138;
    letter-spacing: 0px;
    transition: all 0.34s;
    * {
        font-family: mont;
        font-size: 14px;
    }

    &:hover {
        background: linear-gradient(-120deg, #BCEC4D 1.62%, #6DC138 98.83%), #80BD19;
        color: white;
    }
}

button {
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    color: #b0e854;
    padding: 10px 40px;
    font-size: 14px;
    border: 1px solid white;
    font-family: Mont;
    border: 2px solid transparent;
    letter-spacing: 0px;
    cursor: pointer;
    transition: all 0.34s;

    &:hover {
        border: 1px solid white;
        background-color: transparent;
        color: white;
    }
}



/*
* Body
*/
body {
	overflow-x: hidden;
}

/*
* Main
*/
.main {
	position: relative;
	min-height: 100vh;
    z-index: 1;
}

/*
* Header
* hdr : header
*/
.hdr-bg {
}

.m-menu-hldr {
    display: none;
}

.hdr-frame {
    position: fixed;
    z-index: 5;
    width: 100%;
    transition: all 0.5s ease;

    .header {
       transition: all 0.5s ease;
        .hdr-cntnr {
             width: 90%;
             margin: auto;

        }

        &.header-scroll {
            background-color: white;
            border-bottom: 2px solid #8cbb3f;
            box-shadow: 0px 1px 3px 0 #aaaaaa66;

            .link-hldr {
                * {
                    color: black;
                }
            }

            .header__logo {
                opacity: 0;
            }

            .header__logo2 {
                opacity: 1;
            }
        }
    }

    .header__logo-cntnr {
        position: relative;
        width: 24.5%;

        a {
        }
    }

    .header__menu-cntnr {
        width: 75.5%;
        text-align: right;

        .bar-hldr {
            display: none;
        }
    }

    .header-logo-cntnr {
        position: relative;
        width: 200px;
        height: 80px;
    }

    .logo-container {
        position: relative;
        width: 200px;
        height: 80px;
    }

    .header__logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.5s ease;

    }

    .header__logo2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.5s ease;
        opacity: 0;
    }

    .header__menu-cntnr {
        .link-hldr {
            margin-left: 80px;

            &:first-child {
                margin-left: 0;
            }
            * {
                text-transform: uppercase;
                font-size: 14px;
                font-family: mont;
                font-weight: bold;
                transition: all 0.5s ease;
            }

            a {
                transition: all 0.5s ease;
                color: white;
                &:hover {
                    color: gray;
                }  
            }

            &.current, &.section {
                a {
                    color: $green;
                }
            }
        }
    }
}



/*
* Footer
* ftr : footer
*/
.ftr-frame {
    position: relative;
    background: #191919;
    .ftr-cntnr {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 90%;
        margin: auto;
     }

     .go-top {
        position: absolute;
        top: -25px;
        right: 25px;

        .arrow {
            position: relative;
            width: 50px;
            height: 50px;
            background-color: $green;
            text-align: center;
            border-radius: 100%;
            transition: all 0.34s ease;

            &:hover {
                background-color: #f8f34c;
            }

            i {
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%, -50%);
                color: white;
                font-size: 26px;
            }
        }
     }

     .logo-hldr {
        width: 35%;

        .ftr-logo {
            width: 150px;
            height: 70px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .terms {
            margin-bottom: 5px;
        }

        .ftr-link {
            margin-bottom: 20px;
            * {
                font-size: 14px;
                font-weight: bold;
            }

            .ppolicy {
                color: white;
                font-family: mont;
                text-transform: uppercase;
            }

            a {
                transition: all 0.34s ease;
                &:hover {
                    color: gray;
                }  
            }
        }
     }

     .pursuit {
        width: 40%;

        .left-side {
            width: 100%;
            column-count: 2;
        }

        .pursuit-title {
            width: 100%;
            p {
                font-family: mont;
                color: white;
            }

            i {
                display: none;
            }
        }

        .ftrlink {
            margin-bottom: 10px;
            * {
                color: #ccc;
                font-family: gilroy;
                font-size: 14px;
            }

            a:hover {
                color: $green;
            }
        }
     }

     .contact {
        width: 25%;

        .contact-title {
            width: 100%;
            p {
                font-family: mont;
                color: white;
            }

            i {
                display: none;
            }

        }

        .contact-cntnr {
            img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

            p {
                font-family: gilroy;
                color: #ccc;
            }

            a:hover {
                * {
                    color: $green;
                }
            }

            .inlineBlock-parent {
                margin-bottom: 10px;
            }
        }
     }

     .social-link {
        a {
            margin-right: 20px;
            transition: all 0.34s ease;

            &:hover {
                transform: translateY(-4px);
            }
        }
     }



    .ftr-bottom {
        text-align: center;
        background-color: #191919;
        border-bottom: 5px solid $green;
        * {
            font-size: 14px;
            color: #ccc;
            font-family: gilroy;
            padding-bottom: 10px;

        }
    }

}
/*
* Frame Container
* frm-cntnr : frame contianer
*/
.frm-cntnr {
	position: relative;
	margin: auto;
	height: 100%;
    max-width: 1400px;
	box-sizing: border-box;

	&.align-r {
		margin: 0;
		margin-left: auto;
	}

	&.align-l {
		margin: 0;
		margin-right: auto;
	}

}

/** 
 * Frame Background
 * frm-bckgrnd : frame background
 */
$frame-bg--pos__t: top center;
$frame-bg--pos__c: center center;
$frame-bg--pos__b: bottom center;

.frm-bckgrnds {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: $frame-bg--pos__c;

    &.bring-front {
    	z-index: -1;
    }
    &.bring-back {
    	z-index: -2;
    }
    &.size-cover {
    	background-size: cover;
    }
    &.size-contain{
    	background-size: contain;
    }
    &.align-r {
    	right: 0;
    }
    &.align-l {
    	left: 0;
    }
    &.align-c {
    	left: 50%;
    	transform: translateX(-50%);
    }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $green; 
}




/*****
** SLICK DOTS
*****/

.slick-dots li.slick-active button:before {
    font-size: 8px;
    color: transparent;
    background: $green;
    opacity: 1;
}

.slick-dots li button:before {
    width: 30px;
    height: 5px;
    color: transparent;
    background: #ccc;
    border: none;
    border-radius: 3px;
    opacity: 1;
    transition: all 0.2s;

}

.slick-dots li {
    margin: 0;
    margin: auto 10px;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    background: $green;
}


/*Privacy Statement*/

.terms-remodal {
    border-radius: 10px;
    .remodal-close {
        left: auto;
        right: 0%;
        top: 0%;

        &:hover {
            color: $blue;
        }
    }

    .modal-bg {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.4;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .modal-body {
        position: relative;
        text-align: center;
        border: 2px solid $blue;
        padding: 30px;
        padding-bottom: 40px;
        border-radius: 10px;
        

    }

    .modal-header {
        position: relative;
        z-index: 2;
        margin-bottom: 30px;
        * {
            font-family: Cabin;
            color: $blue;
        }
    }

    .modal-desc {
        position: relative;
        z-index: 2;
        margin-bottom: 20px;
        * {
            font-family: Cabin;
        }
    }

    .modal-desc-b {
        position: relative;
        z-index: 2;
        width: 80%;
        margin: auto;
        margin-bottom: 20px;

        * {
            color: red;
            font-size: 0.9em;
        }
    }

    .privacy-link {
        position: relative;
        z-index: 2;
        color: $blue;
        margin-bottom: 30px;

        * {
            font-family: Cabin;
            font-weight: bold;
            text-decoration: underline;
        }
    }

    .agree-btn {
        position: relative;
        z-index: 2;

        a {
            cursor: pointer;
        }
    }





}

#vid_modal {
    width: 80%;
    height: auto;
    padding: 5px;
    margin-bottom: 0;

    video {
        width: 100%;
    }

    .modal-close {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
        i {
            color: $green;
            font-size: 25px;
            cursor: pointer;
            transition: all 0.34s ease;

            &:hover {
                color: red;
            }
        }
    }
}




@media screen and (max-width: 1024px) {
    .hdr-frame .header__menu-cntnr .header__menu-hldr {
        display: none;
    }

    .hdr-frame .header {
        background-color: #fff;
        border-bottom: 2px solid #8cbb3f;
        box-shadow: 0 1px 3px 0 #aaaaaa66;
    }

    .hdr-frame .header__logo {
        opacity: 0;
    }

    .hdr-frame .header__logo2 {
        opacity: 1;
    }

    .hdr-frame .header-logo-cntnr, .hdr-frame .logo-container {
        width: 170px;
        height: 70px;
    }

    .hdr-frame .header__logo-cntnr {
        width: 70%;
    }

    .hdr-frame .header__menu-cntnr {
        width: 30%;
    }

    .hdr-frame .header__menu-cntnr .bar-hldr {
        display: block;
        i {
            font-size: 40px;
            color: $green;
        }
    }

    .m-menu-hldr {
        position: fixed;
        display: block;
        left: 0;
        top: 0;
        background-color: white;
        width: 100%;
        height: 100vh;
        padding: 50px 0;
        z-index: 10;
        transform: translateX(110%);
        transition: all 0.34s ease;

        .wrapper {
            width: 90%;
            margin: auto;
        }

        .m-exit {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 10px;

            i {
                font-size: 35px;
                color: $green;
            }
        }

        .m-logo {
            margin-bottom: 40px;
            .logo {
                width: 200px;
                height: 80px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                margin: auto;
            }
        }

        .m-menu-cntnr {
            text-align: center;
            * {
                text-transform: uppercase;
            }

            .m-link {
                display: block;
                margin-bottom: 40px;

                * {
                    font-family: mont;
                    font-size: 22px;
                }

                &.current {
                    * {
                        color: $green;
                    }
                }
            }
        }
    }

    #vid_modal {
        width: 100%;
    }



    .ftr-frame .logo-hldr {
        width: 100%;
    }

    .ftr-frame .pursuit {
        width: 100%;
    }

    .ftr-frame .contact {
        width: 100%;
    }

    .ftr-frame .ftr-cntnr {
        text-align: center;
    }

    .ftr-frame .logo-hldr .ftr-logo {
        margin: auto;
    }

    .ftr-frame .social-link a {
        margin: auto 10px;
    }

    .ftr-frame .pursuit .left-side, .ftr-frame .pursuit .right-side {
        width: 100%;
        column-count: 1;
        display: none;
    }

    .ftr-frame .logo-hldr {
        margin-bottom: 20px;
    }

    .ftr-frame .pursuit {
        margin-bottom: 20px;
    }

    .ftr-frame .pursuit .pursuit-title {
        margin-bottom: 0px;

        p {
            display: inline-block;
            margin-right: 10px;
        }

        i {
            display: inline-block;
            color: $green;
            font-size: 20px;
            transition: all 0.34s ease;

            &.open {
                transform: rotate(-180deg);
            }
        }
    }

    .ftr-frame .contact .contact-title {
        margin-bottom: 10px;
        p {
            display: inline-block;
            margin-right: 10px;
        }

        i {
            display: inline-block;
            color: $green;
            font-size: 20px;
            transition: all 0.34s ease;

            &.open {
                transform: rotate(-180deg);
            }
        }
    }

    .ftr-frame .ftr-bottom * {
        color: white;
        font-weight: bold;
    }

    .contact-cntnr {
        display: none;
    }
}

