.jrny_frame1 {
	position: relative;
	padding-top: 80px;

	.jrny_frame1-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.frm-cntnr {
		padding: 200px 0;
		.jrny_frame1-content {
			width: 500px;
			text-align: center;
			margin: auto;
			* {
				color: white;
			}

			.jrny_frame1-header {
				margin-bottom: 20px;
				* {
					font-family: $font--1;
					font-size: 31px;
				}
			}

			.jrny_frame1-text {
				* {
					font-family: $font--2;
					line-height: 1.8em;
				}
			}
		}
	}
}

.jrny_frame2 {
	position: relative;
	padding: 67px 0;

	.jrny_frame2-bg {
		position: absolute;
		top: 0;
		left: 0;
		background-repeat: repeat-y;
		background-position: center;
		background-size: contain;
		width: 100%;
		height: 100%;
	}

	.upper-news__hldr {

		.upper-news__slider  { margin-bottom: 0 }

		.slick-dots {
			bottom: 70px;
		}
		.upper-news__title-cntnr {
			margin-bottom: 55px;
		}

		.upper-news__date {
			margin-bottom: 9px;
			* {
				color: #7B7B7B;
			}
		}
		.upper-news__title {
			width: 67%;
		}

		.upper-news__btn {
			width: 33%;
			text-align: right;
			a {
				display: inline-block;
			}
		}

		.upper-news__banner {
			position: relative;
			width: 100%;
			padding-top: 36.32%;
			margin-bottom: 55px;
			.upper-news__banner-img {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}

			.gradient {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.79) 100%);
			}
		}
	}

	.news-holder {
		.news-holder__title {
			width: 50%;
		}

		.news-holder__filter {
			width: 50%;
			text-align: right;

			.select-hldr {
				position: relative;
				display: inline-block;
			}

			select {
				padding: 15px 22px;
				padding-right: 72px;
				border-radius: 100px;
				border: 1px solid #c4c4c4;
				background-color: white;
				-webkit-appearance: none;
    			-moz-appearance: none;
			}

			i {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 20px;
				font-size: 16px;
				color: $green
			}
		}
	}

	.news-container {
		column-count: 2;
		column-gap: 72px;

		.news-card {
			margin-bottom: 44px;
			.image-hldr {
				position: relative;
				width: calc(24% - 25px);
				margin-right: 25px;

				.image-wrap {
					position: relative;
					width: 100%;
					padding-top: 100%;

					.img {
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
					}
				}
			}

			.news-teaser {
				width: 76%;

				.news-date {
					margin-bottom: 6px;
				}

				.news-title {
					margin-bottom: 14px;
				}

				.news-link {
					a {
						color: $green;
						text-decoration: underline;
					}
				}

			}
		}
	}

	.frm-cntnr {

		.journey-cntnr {
			padding-bottom: 100px;

			&.flex {
				display: flex;
          		flex-direction: row;
			}

			&.flex :first-child { 
				order: 2; 
				margin-right: 0;
			}
          	&.flex :nth-child(2) { 
          		order: 1; 
          		margin-right: 8%;
          	}
		}


		.image-hldr {
			width: 46%;
			margin-right: 8%;

			.image {
				width: 100%;
				height: 320px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
		}

		.desc-hldr {
			width: 46%;

			.d-title {
				margin-bottom: 10px;
			}

			.d-date {
				margin-bottom: 10px;
				* {
					font-size: 12px;
				}
			}

			.d-desc {
				max-height: 200px;
				overflow-y: auto;
				* {
					line-height: 1.8em;
				}
			}
		}
	}
}

.jrny_frame3 {
	position: relative;

	.jrny_frame3-bg {
		position: absolute;
		top: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 100%;
	}

	.jrny-img-slider {
		position: relative;
		left: 50%;
		width: 150%;
		transform: translatex(-50%);
		margin-bottom: 50px;
	}

	.image-cntnr {
		transition: all 1s ease;

		&.slick-active {
			opacity: 0.3;
		}
		&.slick-center {
			opacity: 1;
		}

		.image {
			width: 90%;
			height: 350px;
			margin: auto;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}

	.jrny-cont-slider {
		width: 55%;
		margin: auto;
		padding-bottom: 100px;
	}

	.content-hldr {
		opacity: 0;
		transition: all 1s ease;

		&.slick-active {
			opacity: 1;
		}

		.content-cntnr {
			.title {
				margin-bottom: 10px;
			}

			.date {
				margin-bottom: 10px;
				* {
					font-size: 12px;
				}
			}

			.desc {
				height: 250px;
				overflow-y: auto;
				* {
					line-height: 1.8em;
				}
			}
		}
	}



	.slick-prev:before, .slick-next:before {
		color: #93df65;
	}

	.slick-prev {
		left: -60px;
	}

	.slick-next {
		right: -60px;
	}

	&.search-res {
		width: 45%;
		margin-bottom: 40px;

		.jrny-img-slider {
			left: 0;
			width: 100%;
			transform: unset;
		}

		.jrny-cont-slider {
			width: 100%;
			padding-bottom: 0;
		}

		.content-hldr {
			opacity: 1;
		}
	}
}






// .jrny_frame3  .slick-next:before,
// .jrny_frame3  .slick-prev:before {
//    display: none;
// }

// .jrny_frame3 .slick-prev, 
// .jrny_frame3 .slick-next {
// }

// .jrny_frame3 button {
// 	&:hover {
// 		i {
// 			display: block !important;
// 		}
// 	}
// }


// .jrny_frame3 button.slick-prev, 
// .jrny_frame3 button.slick-next {
//    	border: none;
//    	background-color: transparent;
//    	box-shadow: none;
//    	padding: 0 !important;
//    	transform: translateY(-20px);

//    	&:hover {
//    		color: $green;
//    	}
//    }

// .jrny_frame3 .slick-prev > i, 
// .jrny_frame3 .slick-next > i {
//    font-size: 24px;
//    color: #ccc;
//    transition: all 0.34s ease;

//    &:hover {
//    	display: block !important;
//    	color: $green;
//    }
// }

// .jrny_frame3 .slick-prev {
// 	left: -100px;
// }

// .jrny_frame3 .slick-next {
// 	right: -100px;
// }


.blog {
	padding-top: 80px;
	.frm-cntnr {
		padding: 54px 0;
	}

	.back-btn {
		margin-bottom: 17px;
		a {
			display: inline-block;
			color: $green;
			border-bottom: 1px solid $green;
		}
	}

	.blog-date {
		margin-bottom: 9px;
	}

	.blog-title {
		max-width: 767px;
		margin-bottom: 28px;
	}

	.blog-desc {
		margin-bottom: 28px;
		p {
			line-height: 28.8px;
		}

		h1, h2, h3, h4, h5, h6 {
			font-weight: bold;
		}
		ul {
			padding-inline-start: 40px;
			li {
				margin-bottom: 14px;
			}
		}
	}

	.blog-image {
		position: relative;
		width: 100%;
		padding-top: 36.32%;
		margin-bottom: 49px;

		.image {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}

	.blog-btn {
		text-align: center;
		margin-bottom: 28px;
		a {
			display: inline-block;
			margin: auto;
		}
	}

	.blog-holder {
		.blog-holder__title {
			width: 50%;
			margin-bottom: 50px;
		}

		.blog-holder__filter {
			width: 50%;
			text-align: right;

			.select-hldr {
				position: relative;
				display: inline-block;
			}

			select {
				padding: 15px 22px;
				padding-right: 72px;
				border-radius: 100px;
				border: 1px solid #c4c4c4;
				background-color: white;
				-webkit-appearance: none;
    			-moz-appearance: none;
			}

			i {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 20px;
				font-size: 16px;
				color: $green
			}
		}
	}

	.blog-container {
		column-count: 2;
		column-gap: 72px;

		.blog-card {
			margin-bottom: 44px;
			.image-hldr {
				position: relative;
				width: calc(24% - 25px);
				margin-right: 25px;

				.image-wrap {
					position: relative;
					width: 100%;
					padding-top: 100%;

					.img {
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
					}
				}
			}

			.blog-teaser {
				width: 76%;

				.blog-date {
					margin-bottom: 6px;
				}

				.blog-title {
					margin-bottom: 14px;
				}

				.blog-link {
					a {
						color: $green;
						text-decoration: underline;
					}
				}

			}
		}
	}
}

@media screen and (max-width: 1024px) {

	.jrny_frame1 {
		height: calc(100vh - 80px);
	}
	.jrny_frame1 .frm-cntnr .jrny_frame1-content {
		width: 100%;
	}

	.jrny_frame1 .frm-cntnr {
		width: 90%;
		padding: 100px 0;
	}

	.jrny_frame1 .frm-cntnr .jrny_frame1-content .jrny_frame1-header {
		* {
			font-size: 24px;
		}
	}

	.jrny_frame2 {
		padding-top: 50px;
		padding-bottom: 50px;

		&::after {
			position: absolute;
			bottom: 50px;
			display: block;
			content: "";
			width: 100%;
			height: 3px;
			background-color: #f1f1f1;
		}
	}

	.jrny_frame2 .frm-cntnr .image-hldr {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}

	.jrny_frame2 .frm-cntnr .desc-hldr .d-desc {
		max-height: 100%;
	}

	.jrny_frame3 .content-hldr .content-cntnr .desc {
		height: auto;
	}

	.jrny_frame2 .frm-cntnr .desc-hldr {
		width: 100%;
		text-align: center;
	}

	.jrny_frame2 .frm-cntnr .image-hldr .image {
		height: 200px;
	}

	.jrny_frame2 .frm-cntnr .journey-cntnr {
		padding-bottom: 50px;
	}

	.jrny_frame3 .image-cntnr.slick-active {
		opacity: 1;
	}

	.jrny_frame3 .frm-cntnr {
		width: 90%;
		text-align: center;
	}

	.jrny_frame3 .jrny-img-slider {
		width: 100%;
		left: auto;
		transform: translateX(0);
	}

	.jrny_frame3 .image-cntnr .image {
		height: 200px;
		width: 100%;
	}

	.jrny_frame3 .jrny-cont-slider {
		width: 100%;
	}

	.jrny_frame3 .content-hldr {
		opacity: 1;
	}

	.jrny_frame3.search-res {
		width: 100%;
	}
}