/*****
** PAGINATION
*****/
.page-num {
	width: 100%;
	margin-top: 40px;
	text-align: center;
	padding: 40px 0;

	& > * {
		display: inline-block;
	}

	&.mobile {
		display: none;
	}

	a {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		font-size: 12px;
		font-weight: bold;
	}

	.prev, .next {
		position: relative;
		display: inline-block;
		background-color: $green;
		border-radius: 100%;
		width: 30px;
		height: 30px;
		text-align: center;
		margin: 0 5px;
	}

	.current {
		position: relative;
		width: 30px;
		height: 30px;
		background-color: $green;
		text-align: center;
		border-radius: 100%;
		margin: 0 5px;
	}

	.num-link {
		position: relative;
		width: 30px;
		height: 30px;
		margin: 0 5px;

		* {
			color: $green;
			font-weight: bold;
		}
	}

}

